* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0px;
	overflow-x: hidden;
	cursor: wait;
	background-color: black;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: white;
	font-weight: 300;
}
