.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 150vh;
  width: 100vw;
  font-weight: 400;
  background: #1d1d1d;
}

